@model IEnumerable<SysInventarioFacturacion.EntidadesDeNegocio.DetalleFactura>

@{
    ViewData["Title"] = "Reporte de Ventas";
    int numPage = 1;
    int numRegistros = 0;
    int numRegistrosPorPage = 10;
    int[] tops = { 10, 20, 50, 100, 500, 1000, 10000, -1 };
    int topActual = Convert.ToInt32(ViewBag.Top);
    List<SysInventarioFacturacion.EntidadesDeNegocio.Factura> facturas = ViewBag.Facturas as List<SysInventarioFacturacion.EntidadesDeNegocio.Factura>;
    List<SysInventarioFacturacion.EntidadesDeNegocio.Producto> productos = ViewBag.Producto as List<SysInventarioFacturacion.EntidadesDeNegocio.Producto>;
    List<SysInventarioFacturacion.EntidadesDeNegocio.DetalleFactura> listaVentas = ViewBag.ListaVentas as List<SysInventarioFacturacion.EntidadesDeNegocio.DetalleFactura>;

    ViewBag.listaventas = listaVentas;

}

<style>

    .textface{
        
    }

    .card {
        width: 200px;
        height: 250px;
        position: relative;
        perspective: 1000px;
    }

        .card:hover .carta {
            transform: rotateY(180deg);
        }

    .carta {
        transform-style: preserve-3d;
        transition: all 1s linear;
    }

    .cara {
        position: absolute;
        backface-visibility: hidden;
    }

        .cara.detras {
            transform: rotateY(180deg);
        }
</style>
<h2>Reportes</h2>

@if (facturas != null)
{
    foreach (var Listafacturas in facturas)
    {
        <div class="card" style="width: 18rem;">
            <div class="carta">
                <div class="cara">
                   
                    <div class="card-body">
                        <p class="textface">Factura # @Listafacturas.NumeroFactura</p>
                        <p class="textface">Descripción: @Listafacturas.Descripcion</p>
                        <p class="textface">Total: @Listafacturas.Total</p>
                        <p class="textface">Descuento: @Listafacturas.Descuento</p>
                        <p class="textface">Impuesto: @Listafacturas.Impuesto</p>
                        <p class="textface">Total Pagado: @Listafacturas.TotalPagado</p>
                        <p class="textface">Fecha de Facturación: @Listafacturas.FechaFacturacion.ToShortDateString()</p>
                    </div>
                </div>
                <div class="cara detras">
                    <div class="card-body">
                        <table class="table table-responsive paginationjs">
                            <thead>
                                <tr>
                                    <th>
                                        Cantidad
                                    </th>
                                    <th>
                                        Producto
                                    </th>
                                    <th>
                                        Descripcion
                                    </th>
                                    <th>
                                        Valor Total
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var detalle in Listafacturas.DetalleFactura)
                                {
                                    <tr>

                                        <td>@detalle.Cantidad</td>
                                        <td>@detalle.Producto.Nombre</td>
                                        <td>@detalle.Producto.Descripcion</td>
                                        <td>@detalle.ValorTotal</td>
                                        <!-- Agrega más celdas según tus necesidades -->
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    }
}


