@model IEnumerable<SysInventarioFacturacion.EntidadesDeNegocio.DetalleFactura>
@{
    ViewData["Title"] = "Reporte de Ventas";
    int numPage = 1;
    int numRegistros = 0;
    int numRegistrosPorPage = 10;
    int[] tops = { 10, 20, 50, 100, 500, 1000, 10000, -1 };
    int topActual = Convert.ToInt32(ViewBag.Top);
    List<SysInventarioFacturacion.EntidadesDeNegocio.Factura> facturas = ViewBag.Facturas as List<SysInventarioFacturacion.EntidadesDeNegocio.Factura>;
    List<SysInventarioFacturacion.EntidadesDeNegocio.Producto> productos = ViewBag.Producto as List<SysInventarioFacturacion.EntidadesDeNegocio.Producto>;
    List<SysInventarioFacturacion.EntidadesDeNegocio.DetalleFactura> listaVentas = ViewBag.ListaVentas as List<SysInventarioFacturacion.EntidadesDeNegocio.DetalleFactura>;

    ViewBag.listaventas = listaVentas;

}

<style>


    h1 {
        color: #333;
        text-align: center;
    }


    .customer-card {
        width: 80%;
        margin-top: 20px;
        background-color: #fff;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
    }

    .customer-details {
        padding: 20px;
        border-bottom: 1px solid #ddd;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .customer-name {
        font-size: 1.2em;
        font-weight: bold;
    }

    .product-list {
        padding: 20px;
    }

    .product-item {
        margin-bottom: 10px;
    }

    .product-name {
        font-weight: bold;
    }
</style>

<form method="post" asp-action="Reportes">
    <div class="row">
        <div class="mb-3 col-md-3">
            <label for="fechaInicio" class="form-label">Fecha de Inicio</label>
            <input type="date" id="fInicio" name="fInicio" class="form-control" />
        </div>

        <div class="mb-3 col-md-3">
            <label for="fechaFin" class="form-label">Fecha de Fin</label>
            <input type="date" id="fFinal" name="fFinal" class="form-control" />
        </div>

        <div class="mb-3 col-md-3">
            <label for="NumeroFactura" class="form-label">Fecha de Fin</label>
            <input type="number" id="NumeroFactura" name="NumeroFactura" class="form-control" />
        </div>

        <div class="mb-3 col-md-3 align-self-end">
            <button type="submit" class="btn btn-primary w-100">Buscar</button>
        </div>
    </div>
</form>

@if (facturas != null)
{
    <!-- Agrega las referencias y los estilos de los calendarios -->
    @foreach (var Listafacturas in facturas)
    {
        <div>
            <div class="customer-card">
                <div class="customer-details">
                    <div class="customer-name">Fecha Venta: @Listafacturas.FechaFacturacion</div>
                    <div class="customer-name">NFactura: @Listafacturas.NumeroFactura</div>
                    <div class="customer-name">Cliente: @Listafacturas.Descripcion</div>
                    <div>Total: $@Listafacturas.Total</div>
                </div>
                <div id="contentToExport">
                    @foreach (var detalle in Listafacturas.DetalleFactura)
                    {
                        <div class="product-list">
                            <div class="product-item">
                                <div class="product-name">Producto: @detalle.Producto.Nombre</div>
                                <div>Cantidad: @detalle.Cantidad</div>
                                <div>Valor Total: @detalle.ValorTotal</div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>

<script>
    // Aquí puedes agregar lógica JavaScript para manejar la búsqueda y filtrado
    function buscar() {
        // Implementa la lógica de búsqueda aquí
    }
</script>
