@model IEnumerable<SysInventarioFacturacion.EntidadesDeNegocio.DetalleFactura>

@{
    ViewData["Title"] = "Venta";
    int numPage = 1;
    int numRegistros = 0;
    int numRegistrosPorPage = 10;
    int[] tops = { 10, 20, 50, 100, 500, 1000, 10000, -1 };
    int topActual = Convert.ToInt32(ViewBag.Top);
    List<SysInventarioFacturacion.EntidadesDeNegocio.Factura> facturas = ViewBag.Facturas as List<SysInventarioFacturacion.EntidadesDeNegocio.Factura>;
    List<SysInventarioFacturacion.EntidadesDeNegocio.Producto> productos = ViewBag.Producto as List<SysInventarioFacturacion.EntidadesDeNegocio.Producto>;
    List<SysInventarioFacturacion.EntidadesDeNegocio.DetalleFactura> detalleFacturas = new List<SysInventarioFacturacion.EntidadesDeNegocio.DetalleFactura>();

}


<h1>Creación de ventas</h1>

<div class="row">
    <div class="col-sm-12">
        <div class="card border-info">
            <div class="BarraSuperior">
                <button id="btnTerminarGuardarVenta" class="BtnImprimir">
                    <i class="fa fa-print" aria-hidden="true"></i> Imprimir y Terminar Venta
                </button>
            </div>
            <div class="card-body p-2 card-venta">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="input-group input-group-sm mb-2">
                            <div class="input-group-prepend">
                                <label class="input-group-text bg-info text-white" for="inputGroupSelect01">Fecha de Venta</label>
                            </div>
                            <input id="txtfechaventa" readonly type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="BarraInferio">
                        <div class="card-body p-2">
                            <div class="row">
                                <div class="col-sm-10">
                                    <h6 class="card-title mb-1">CREANDO FACTURA</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Cuadro de búsqueda de productos... -->
        <div class="row mt-2">
            <div class="col-sm-6">
                <div class="card border-info">
                    <div class="FormContent">
                        <div class="row align-items-end">
                            <h6 class="TextLitlle">Busca tus productos</h6>
                            <div class="row align-items-end">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Código</label>
                                        <input type="text" id="txtCodigo" class="form-control" name="codigo" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Nombre</label>
                                        <input type="text" id="txtNombre" class="form-control" name="nombre" />
                                    </div>
                                </div>
                                 <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">FormaDePago</label>
                            <select name="FormaDePago" class="form-control">
                                <option value="">SELECCIONAR</option>
                                <option selected value="1">EFECTIVO</option>
                                <option value="2">TARJETA</option>
                            </select>
                        </div>
                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Tabla donde aparecen los productos... -->
            <div class="col-sm-6">
                <div class="card border-info">
                    <div class="table-container">
                        <table id="tablaBusqueda" class="tablaBusqueda" style="height:20px">
                            <thead>
                                <tr>
                                    <th>Cod</th>

                                    <th>
                                        Nombre
                                    </th>

                                    <th>
                                        Descripcion
                                    </th>

                                    <th>
                                        Talla
                                    </th>
                                    <th>
                                        Precio Unitario
                                    </th>
                                    <th colspan="1">Acciones</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in productos)
                                {
                                    <tr data-page="@numPage">
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Codigo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Nombre)
                                        </td>

                                        <td>
                                            <div class="descripcion">
                                                @if (!string.IsNullOrEmpty(item.Descripcion) && item.Descripcion.Length > 50)
                                                {
                                                    <span class="short-description">@Html.DisplayFor(modelItem => item.Descripcion.Substring(0, 50))</span>
                                                    <span class="full-description" style="display: none;">@Html.DisplayFor(modelItem => item.Descripcion)</span>
                                                    <button class="show-more-button">Ver Más</button>
                                                }
                                                else
                                                {
                                                    <span class="short-description">@Html.DisplayFor(modelItem => item.Descripcion)</span>
                                                }
                                            </div>
                                        </td>


                                        <td>
                                            @Html.DisplayFor(modelItem => item.Talla)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PrecioUnitario)
                                        </td>
                                        <td class="botonestabla">
                                            <button class="agregar-producto btn btn-sm btn-success btn-block"
                                                data-codigo="@item.Codigo"
                                                data-nombre="@item.Nombre"
                                                data-descripcion="@item.Descripcion"
                                                data-precio="@item.PrecioUnitario">
                                                <i class="fa fa-plus" aria-hidden="true"></i> Agregar
                                            </button>
                                        </td>

                                    </tr>
                                    numRegistros++;
                                    if (numRegistros == numRegistrosPorPage)
                                    {
                                        numPage++;
                                        numRegistros = 0;
                                    }
                                }
                                @{
                                    if (numRegistros == 0)
                                    {
                                        numPage--;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<hr class="Separation" />
<div class="row mt-3">
    <div class="col-sm-12">
        <div class="table-responsive-sm">
            <table id="tablaDetalleFactura" class="tablaDetalles" style="width:100%">
                <thead>
                    <tr>
                        <th>Cantidad</th>
                        <th>Producto</th>
                        <th>Descripcion</th>
                        <th>Precio Unidad</th>
                        <th>Importe Total</th>
                        <th colspan="1">Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in detalleFacturas)
                    {
                        <tr data-page="@numPage">
                            <td>
                                @Html.DisplayFor(modelItem => item.Cantidad)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Producto.Nombre)
                            </td>
                            @if (item.FormaDePago == 1)
                            {
                                <td>EFECTIVO</td>
                            }
                            else if (item.FormaDePago == 2)
                            {
                                <td>TARJETA</td>
                            }
                            else
                            {
                                <td></td>
                            }
                            <td>
                                @Html.DisplayFor(modelItem => item.Producto.PrecioUnitario)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ValorTotal)
                            </td>
                            <td class="botonestabla">
                                <button class="eliminar-producto btn btn-danger" data-id="@item.IdDetalleFactura">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                        numRegistros++;
                        if (numRegistros == numRegistrosPorPage)
                        {
                            numPage++;
                            numRegistros = 0;
                        }
                    }
                    @{
                        if (numRegistros == 0)
                        {
                            numPage--;
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<hr />
<div class="row">
    <div class="col-sm-6">
        <div class="row">
            <div class="col-sm-4">
                <div class="input-group input-group-sm mb-2">
                    <div class="input-group-prepend">
                        <label class="input-group-text bg-info text-white" for="inputGroupSelect01">Sub Total S/.</label>
                    </div>
                    <input id="txtsubtotal" readonly type="text" class="form-control" value="0">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="input-group input-group-sm mb-2">
                    <div class="input-group-prepend">
                        <label class="input-group-text bg-info text-white" for="inputGroupSelect01">IGV S/.</label>
                    </div>
                    <input id="txtigv" readonly type="text" class="form-control" value="0">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="input-group input-group-sm mb-2">
                    <div class="input-group-prepend">
                        <label class="input-group-text bg-info text-white" for="inputGroupSelect01">Total S/.</label>
                    </div>
                    <input id="txttotal" readonly type="text" class="form-control" value="0">
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="row">
            <div class="col-sm-4">
                <div class="input-group input-group-sm mb-2">
                    <div class="input-group-prepend">
                        <label class="input-group-text bg-info text-white" for="inputGroupSelect01">Monto Pago S/.</label>
                    </div>
                    <input id="txtmontopago" type="text" class="form-control" autocomplete="off">
                </div>
            </div>
            <div class="col-sm-4">
                <button id="btncalcular" type="button" class="btn btn-sm btn-success btn-block">
                    <i class="fas fa-dollar-sign"></i> Calcular
                </button>
            </div>
        </div>
    </div>
</div>


