@model SysInventarioFacturacion.EntidadesDeNegocio.Producto

@{
    ViewData["Title"] = "Create";
    List<SysInventarioFacturacion.EntidadesDeNegocio.Categoria> categorias = ViewBag.Categoria as List<SysInventarioFacturacion.EntidadesDeNegocio.Categoria>;
    List<SysInventarioFacturacion.EntidadesDeNegocio.Proveedor> proveedores = ViewBag.Proveedor as List<SysInventarioFacturacion.EntidadesDeNegocio.Proveedor>;

}

<h1>Agregar Un Nuevo Producto</h1>
<hr />


<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">

        <div class="col-md-4">
            <div class="form-group ">
                <label asp-for="Codigo" class="control-label"></label>
                <input asp-for="Codigo" class="form-control" />
                <span asp-validation-for="Codigo" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Talla" class="control-label"></label>
                <input asp-for="Talla" class="form-control" />
                <span asp-validation-for="Talla" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group ">
                <label asp-for="Marca" class="control-label"></label>
                <input asp-for="Marca" class="form-control" />
                <span asp-validation-for="Marca" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Cantidad" class="control-label"></label>
                <input asp-for="Cantidad" class="form-control" />
                <span asp-validation-for="Cantidad" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group ">
                    <label asp-for="Color" class="control-label"></label>
                    <input asp-for="Color" class="form-control" />
                    <span asp-validation-for="Color" class="text-danger"></span>
                </div>
            </div>



            <div class="col-md-4">
                <div class="form-group ">
                    <label asp-for="PrecioUnitario" class="control-label"></label>
                    <input asp-for="PrecioUnitario" class="form-control" />
                    <span asp-validation-for="PrecioUnitario" class="text-danger"></span>
                </div>
            </div>

            @* RELACIONES BOTONES DESPLEGABLAS*@

            <div class="col-md-4">
                <div class="form-group ">
                    <label asp-for="Proveedor" class="control-label"></label>

                    <select asp-for="IdProveedor" class="form-control">
                        <option selected value="">SELECCIONAR</option>
                        @foreach (var item in proveedores)
                        {
                            <option value="@item.IdProveedor">@item.Nombre</option>
                        }
                    </select>
                    <span asp-validation-for="IdProveedor" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group ">
                    <label asp-for="Categoria" class="control-label"></label>

                    <select asp-for="IdCategoria" class="form-control">
                        <option selected value="">SELECCIONAR</option>
                        @foreach (var item in categorias)
                        {
                            <option value="@item.IdCategoria">@item.Nombre</option>
                        }
                    </select>
                    <span asp-validation-for="IdCategoria" class="text-danger"></span>
                </div>
            </div>
        </div>

        @*BOTONES EDITADOS CON ICONOS*@

        <div class="form-group" style="margin-top: 10px;">
            <button type="submit" class="btn btn-success" style="margin-right: 10px;">
                <i class="fas fa-save"></i> Guardar
            </button>

            <button type="button" class="btn btn-danger" onclick="window.location.href='@Url.Action("Index")'" style="margin-left: 10px;">
                <i class="fas fa-times"></i> Cancelar
            </button>
        </div>

        <span class="text-danger">@ViewBag.Error</span>

    </div>

</form>

@section Scripts
    {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
