@model SysInventarioFacturacion.EntidadesDeNegocio.Producto

@{
    ViewData["Title"] = "Details";
}

<h1>Ver Producto</h1>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Codigo)
            @Html.DisplayNameFor(model => model.Nombre)
            @Html.DisplayNameFor(model => model.Descripcion)
            @Html.DisplayNameFor(model => model.Talla)
            @Html.DisplayNameFor(model => model.Marca)
            @Html.DisplayNameFor(model => model.Color)
            @Html.DisplayNameFor(model => model.PrecioUnitario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Codigo)
            @Html.DisplayFor(model => model.Nombre)
            @Html.DisplayFor(model => model.Descripcion)
            @Html.DisplayFor(model => model.Talla)
            @Html.DisplayFor(model => model.Marca)
            @Html.DisplayFor(model => model.Color)
            @Html.DisplayFor(model => model.PrecioUnitario)
        </dd>
    </dl>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            @Html.ActionLink("Ir a modificar", "Edit", new { id = Model.IdProducto }, new { @class = "btn btn-info" })
            <a asp-action="Index" class="btn btn-dark">Cancelar</a>
        </div>
    </div>
</div>