@model SysInventarioFacturacion.EntidadesDeNegocio.Pedido

@{
    ViewData["Title"] = "Delete";
}
<h1>Eliminar Pedido</h1>

<h3>¿ Esta seguro que desea eliminar ?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuario.Nombre)
        </dd>
    </dl>
    @using (Html.BeginForm("Delete", "Pedido", new { IdPedido = Model.IdPedido }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-danger" onclick="return confirm('seguro'?);">Eliminar</button>
        <a asp-action="Index" class="btn btn-dark">Cancelar</a>
    }
</div>
