@model SysInventarioFacturacion.EntidadesDeNegocio.Inventario

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar Inventario</h1>

<h3>¿ Esta seguro que desea eliminar ?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadDisponibleProducto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CantidadDisponibleProducto)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadInicialProducto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CantidadInicialProducto)
        </dd>
    </dl>
    
   


    <form asp-action="Delete">
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-dark">Cancelar</a>
    </form>
    <span class="text-danger">@ViewBag.Error</span>
</div>
