@model IEnumerable<SysInventarioFacturacion.EntidadesDeNegocio.DetallePedido>

@{
    ViewData["Title"] = "Index";
    int numPage = 1;
    int numRegistros = 0;
    int numRegistrosPorPage = 10;
    int[] tops = { 10, 20, 50, 100, 500, 1000, 10000, -1 };
    int topActual = Convert.ToInt32(ViewBag.Top);
    List<SysInventarioFacturacion.EntidadesDeNegocio.Pedido> pedidos = ViewBag.Pedido as List<SysInventarioFacturacion.EntidadesDeNegocio.Pedido>;
    List<SysInventarioFacturacion.EntidadesDeNegocio.Producto> productos = ViewBag.Producto as List<SysInventarioFacturacion.EntidadesDeNegocio.Producto>;
    List<SysInventarioFacturacion.EntidadesDeNegocio.Proveedor> proveedores = ViewBag.Proveedor as List<SysInventarioFacturacion.EntidadesDeNegocio.Proveedor>;

}

<h1>Buscar</h1>
<div class="row">
    <div class="col-md-12">
        <form asp-action="Index">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">Proveedor</label>
                        <select name="IdProveedor" class="form-control">
                            <option selected value="0">SELECCIONAR</option>
                            @foreach (var item in proveedores)
                            {
                                <option value="@item.IdProveedor">@item.Nombre</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">Producto</label>
                        <select name="IdProducto" class="form-control">
                            <option selected value="0">SELECCIONAR</option>
                            @foreach (var item in productos)
                            {
                                <option value="@item.IdProducto">@item.Nombre</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Buscar" class="btn btn-primary" />
                <a asp-action="Create" class="btn btn-primary">Crear</a>
            </div>
        </form>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaPedido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPedido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdProveedor)
            </th>
            <th colspan="3">Acciones</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cantidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaPedido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Producto.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdPedido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Proveedor.Nombre)
                </td>
                <td class="botonestabla">
                    @Html.ActionLink("Modificar", "Edit", new { IdDetallePedido = item.IdDetallePedido }, new { @class = "btn btn-success" })
                </td>
                <td class="botonestabla">
                    @Html.ActionLink("Ver", "Details", new { IdDetallePedido = item.IdDetallePedido }, new { @class = "btn btn-info" })
                </td>
                <td class="botonestabla">
                    @Html.ActionLink("Eliminar", "Delete", new { IdDetallePedido = item.IdDetallePedido }, new { @class = "btn btn-danger" })
                </td>
            </tr>

            numRegistros++;
            if (numRegistros == numRegistrosPorPage)
            {
                numPage++;
                numRegistros = 0;
            }
        }
        @{
            if (numRegistros == 0)
            {
                numPage--;
            }
        }
    </tbody>
</table>
@if (numPage > 1)
{
    <div class="row" style="overflow:auto">
        <div class="col-md-12">
            <ul class="pagination paginationjs" data-numpage="@numPage" data-pageactive="1">
                <li class="page-item" data-typepage="Previous"><a class="page-link" href="#">Previous</a></li>
                @for (var i = 1; i <= numPage; i++)
                {
                    <li class="page-item" data-page="@i" data-typepage="Item"><a class="page-link" href="#">@i</a></li>
                }
                <li class="page-item" data-typepage="Next"><a class="page-link" href="#">Next</a></li>
            </ul>
        </div>
    </div>
}